<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.mapper.UsersMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="userId">
        insert into users(
        <if test="userId!=null">user_id,</if>
        <if test="email!=null">email,</if>
        <if test="phoneNumber!=null">phone_number,</if>
        <if test="firstName!=null">first_name,</if>
        <if test="lastName!=null">last_name,</if>
        <if test="dateOfBirth!=null">date_of_birth,</if>
        <if test="gender!=null">gender,</if>
        <if test="address!=null">address,</if>
        <if test="city!=null">city,</if>
        <if test="postalCode!=null">postal_code,</if>
        <if test="country!=null">country,</if>
        <if test="departmentId!=null">department_id,</if>
        <if test="roleId!=null">role_id,</if>
        username,
        password_hash)
        values (
        <if test="userId!=null">#{userId},</if>
        <if test="email!=null">#{email},</if>
        <if test="phoneNumber!=null">#{phoneNumber},</if>
        <if test="firstName!=null">#{firstName},</if>
        <if test="lastName!=null">#{lastName},</if>
        <if test="dateOfBirth!=null">#{dateOfBirth},</if>
        <if test="gender!=null">#{gender},</if>
        <if test="address!=null">#{address},</if>
        <if test="city!=null">#{city},</if>
        <if test="postalCode!=null">#{postalCode},</if>
        <if test="country!=null">#{country},</if>
        <if test="departmentId!=null">#{departmentId},</if>
        <if test="roleId!=null">#{roleId},</if>
        #{username},#{passwordHash})
    </insert>
    <select id="viewUserDetails" resultType="com.example.user.entity.UserDetails">
        SELECT
            urd.user_id AS userId,
            urd.username AS username,
            urd.password_hash AS passwordHash,
            urd.email AS email,
            urd.phone_number AS phoneNumber,
            urd.first_name AS firstName,
            urd.last_name AS lastName,
            urd.date_of_birth AS dateOfBirth,
            urd.gender AS gender,
            urd.address AS address,
            urd.city AS city,
            urd.postal_code AS postalCode,
            urd.country AS country,
            urd.department_name AS departmentName,
            urd.role_name AS roleName,
            urd.description AS roleDescription,
            permissions.permission_name AS permissionName,
            permissions.description AS permissionDescription
        FROM
            (
                SELECT
                    users.user_id,
                    users.username,
                    users.password_hash,
                    users.email,
                    users.phone_number,
                    users.first_name,
                    users.last_name,
                    users.date_of_birth,
                    users.gender,
                    users.address,
                    users.city,
                    users.postal_code,
                    users.country,
                    users.role_id,
                    roles.role_name,
                    roles.description,
                    departments.department_name
                FROM
                    users
                        LEFT JOIN roles ON users.role_id = roles.role_id
                        LEFT JOIN departments ON users.department_id = departments.department_id
            ) urd
                LEFT JOIN role_permission ON urd.role_id = role_permission.role_id
                LEFT JOIN permissions ON role_permission.permission_id = permissions.permission_id
    </select>
</mapper>
