<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.studentscores.mapper.ScoresMapper">
    <select id="getSumScores" resultType="com.example.studentscores.entity.ClassStudentSUM">
        SELECT
            student.`name` AS studentName,
            student.class_name as className,
            sum(scores.score) AS sumScores
        FROM
            `student`,
            scores
        WHERE
            student.id = scores.student_id
        GROUP BY
            student.`name`,
            student.class_name
    </select>
    <select id="getAvgScores" resultType="com.example.studentscores.entity.ClassSubjectAVG">
        SELECT
            student.class_name AS className,
            scores.SUBJECT AS subjectName,
            AVG( scores.score ) AS averageScore
        FROM
            scores
                LEFT JOIN `student` ON student.id = scores.student_id
        GROUP BY
            student.class_name,
            scores.`subject`
    </select>
</mapper>
