<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.userLogin.mapper.TUserMapper">
    
    <resultMap type="com.example.userLogin.domain.TUser" id="TUserResult">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="loginName"    column="login_name"    />
        <result property="userPassword"    column="user_password"    />
        <result property="lastLoginTime"    column="last_login_time"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="pwdValTime"    column="pwd_val_time"    />
        <result property="belongCode"    column="belong_code"    />
        <result property="belongName"    column="belong_name"    />
        <result property="dataType"    column="data_type"    />
        <result property="phone"    column="phone"    />
    </resultMap>

    <sql id="selectTUserVo">
        select id, user_name, login_name, user_password, last_login_time, is_deleted, pwd_val_time, belong_code, belong_name, data_type, phone from t_user
    </sql>

    <select id="selectTUserList" parameterType="com.example.userLogin.domain.TUser" resultMap="TUserResult">
        <include refid="selectTUserVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="loginName != null  and loginName != ''"> and login_name like concat('%', #{loginName}, '%')</if>
            <if test="userPassword != null  and userPassword != ''"> and user_password = #{userPassword}</if>
            <if test="lastLoginTime != null "> and last_login_time = #{lastLoginTime}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="pwdValTime != null "> and pwd_val_time = #{pwdValTime}</if>
            <if test="belongCode != null  and belongCode != ''"> and belong_code = #{belongCode}</if>
            <if test="belongName != null  and belongName != ''"> and belong_name like concat('%', #{belongName}, '%')</if>
            <if test="dataType != null  and dataType != ''"> and data_type = #{dataType}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
        </where>
    </select>
    
    <select id="selectTUserById" parameterType="String" resultMap="TUserResult">
        <include refid="selectTUserVo"/>
        where id = #{id}
    </select>

    <select id="selectTUserByLoginName" parameterType="String" resultMap="TUserResult">
        <include refid="selectTUserVo"/>
        where login_name = #{loginName}
    </select>
        
    <insert id="insertTUser" parameterType="com.example.userLogin.domain.TUser">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="loginName != null and loginName != ''">login_name,</if>
            <if test="userPassword != null and userPassword != ''">user_password,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="pwdValTime != null">pwd_val_time,</if>
            <if test="belongCode != null">belong_code,</if>
            <if test="belongName != null">belong_name,</if>
            <if test="dataType != null">data_type,</if>
            <if test="phone != null">phone,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="loginName != null and loginName != ''">#{loginName},</if>
            <if test="userPassword != null and userPassword != ''">#{userPassword},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="pwdValTime != null">#{pwdValTime},</if>
            <if test="belongCode != null">#{belongCode},</if>
            <if test="belongName != null">#{belongName},</if>
            <if test="dataType != null">#{dataType},</if>
            <if test="phone != null">#{phone},</if>
         </trim>
    </insert>

    <update id="updateTUser" parameterType="com.example.userLogin.domain.TUser">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="loginName != null and loginName != ''">login_name = #{loginName},</if>
            <if test="userPassword != null and userPassword != ''">user_password = #{userPassword},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="pwdValTime != null">pwd_val_time = #{pwdValTime},</if>
            <if test="belongCode != null">belong_code = #{belongCode},</if>
            <if test="belongName != null">belong_name = #{belongName},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
            <if test="phone != null">phone = #{phone},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTUserById" parameterType="String">
        delete from t_user where id = #{id}
    </delete>

    <delete id="deleteTUserByIds" parameterType="String">
        delete from t_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>